<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img src="https://www.websmultimedia.com/style/img/trabajos/logotipo-areco.jpg" alt="Logo" height="70">
    </mat-toolbar>
    <mat-nav-list style="padding: 1rem;">
      <a mat-list-item routerLink="products" routerLinkActive #link="routerLinkActive" [activated]="link.isActive">
        Productos
      </a>
      <a mat-list-item routerLink="">Clientes</a>
      <a mat-list-item routerLink="">Ventas</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button *ngIf="isHandset$ | async" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Productos</span>
    </mat-toolbar>

    <!-- Filtros por nombre y estado -->
    <div style="padding: 1rem;">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="nameFilter" (input)="applyFilters()" placeholder="Filtrar por nombre" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <input matInput [(ngModel)]="stateFilter" (input)="applyFilters()" placeholder="Filtrar por estado" />
      </mat-form-field>
    </div>

    <!-- Tabla de productos -->
    <div class="main-container" style="padding: 1rem;">
      <table mat-table [dataSource]="filteredProducts">
        <!-- Columna de nombre -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let product"> {{ product.name }} </td>
        </ng-container>

        <!-- Columna de estado -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let product"> {{ mapStateToText(product.state) }} </td>
        </ng-container>

        <!-- Fila de cabecera -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Fila de datos -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
